<html xmlns:th="http://www.thymeleaf.org"> <!-- 네임스페이스 th를 사용하겠다 -->
<head>
<title>게시 글 목록</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body th:align="center"> <!-- 가운데 정렬 -->
	<h1>게시글 목록(tmeplate)</h1>
	<table th:align="center" border="1" th:cellpadding="0"
		th:cellspacing="0" th:width="700">
		<tr>
			<th bgcolor="orange" width="100">번호</th>
			<th bgcolor="orange" width="200">제목</th>
			<th bgcolor="orange" width="150">작성자</th>
			<th bgcolor="orange" width="150">등록일</th>
			<th bgcolor="orange" width="100">조회수</th>
		</tr>
		<tr th:each="board : ${boardList}"> <!-- jstl에 foreach와 비슷한 태그 -->
			<td th:text="${board.seq}"> <!-- El은 아니지만 비슷하다 -->
			<td th:text="${board.title}">
			<td th:text="${board.writer}">
			<td th:text="${#dates.format(board.createDate, 'yyyy-MM-dd')}"> <!-- format이 내장되어있다  -->
			<td th:text="${board.cnt}">
		</tr>
	</table>
	<br>
	<a th:href="insertBoard">새글 등록</a>
</body>
</html>


